__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
Thumbs.db

.venv/
venv/
ENV/
env/

*.log
logs/
tmp/
temp/

inputs/**
outputs/**

!inputs/README.md
!inputs/.gitkeep
!inputs/examples/**
!outputs/README.md
!outputs/.gitkeep
!outputs/examples/**

*.env
configs/**/secrets.*
